<!-- <img class="background-img" src="https://source.unsplash.com/2560x1440/?nature"/> -->
<app-background-image></app-background-image>
<!-- <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/assets/EH_logo-01.svg" width="32" height="32" />
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">

      </div>
    </div>
  </div>
</nav> -->

<app-watchers></app-watchers>

<img class="eh-logo" src="/assets/EH_logo-01.svg" />
<a title="Change background image" class="button is-rounded change-background-button" href="javascript:void(0)" (click)="onChangeBackground()"><i class="far fa-image"></i></a>
