:host {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "nav"
  "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

// nav {
//   grid-area: nav;

//   background: none!important;
//   backdrop-filter: blur(2rem);
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
// }

app-watchers {
  grid-area: main;
}
app-background-selector,
.change-background-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: inherit;
  opacity: 0.5;
  z-index: 2;

  &:hover {
    opacity: 1;
  }
}

.eh-logo {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
}

.background-img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  opacity: 1;

  animation: backgroundImageIn 6s;
}

@keyframes backgroundImageIn {
  from {
    opacity: 0;
  }
}


:host-context(.light-theme) {
  color: hsla(229, 30%, 15%, 0.8);
  background: hsla(229, 8%, 80%, 1);
}
