@import "../../styles/variables.scss";

.watchers {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.watcher-group-container {
  flex: 1 0 16rem;
  padding: 1rem;
  padding-right: 0;
  &:last-child {
    padding-right: 1rem;
  }
}

.watcher-group {
  padding: 0.75rem;
  background: hsla(229, 8%, 40%, 0.8);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  // background: rgba(140, 140, 140, 0.35);
  // backdrop-filter: blur(1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);
  position: relative;
  z-index: 1;
  transition: background 1s;

  h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.cell {
  display: flex;
  flex: 0 0 3rem;
  margin-bottom: 0.5rem;
}

.add-watcher {
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  opacity: 0.5;
  &:hover {
    opacity: 0.75;
  }
}

.modal-background {
  background: rgba(0, 0, 0, 0.2);
  // backdrop-filter: blur(0.25rem);
  opacity: 1;
}

.modal-card {
  background: hsla(229, 8%, 30%, 1);
  // background: hsla(0, 0, 30%, 0.5);
  // backdrop-filter: blur(1rem);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border: 1px solid hsla(0, 0%, 100%, 0.2);

  .modal-card-head, .modal-card-body, .modal-card-foot {
    background: none;
    border: 0;
  }

  .modal-card-title {
    color: inherit;
  }

  pre {
    background: rgba(255, 255, 255, 0.1);
    color: inherit;
    border-radius: 0.5rem;
  }

}

@keyframes flash {
  0% {
    background: change-color($danger, $alpha: 0.5);
  }
  10% {
    background: change-color($danger, $alpha: 1);
  }
  100% {
    background: change-color($danger, $alpha: 0.5);
  }
}

:host-context(.light-theme) {
  .watcher-group {
    background: hsla(229, 8%, 95%, 1);
  }

  .watcher {
    background: hsla(229, 8%, 90%, 1);
  }

  .modal-card {
    background: hsla(228, 8%, 95%, 1);
    pre {
      background: hsla(228, 8%, 90%, 1);
    }
  }
}

:host-context(.backdropfilter) {
  .watcher-group {
    background: hsla(229, 8%, 40%, 0.5);
    backdrop-filter: blur(1rem);
  }
  .modal-card {
    background: hsla(229, 8%, 30%, 0.5);
    backdrop-filter: blur(1rem);
  }
}

:host-context(.backdropfilter .light-theme) {
  .watcher-group {
    background: hsla(229, 8%, 95%, 1);
    backdrop-filter: blur(1rem);
  }
  .modal-card {
    background: hsla(228, 8%, 95%, 0.5);
    backdrop-filter: blur(1rem);
  }
}

table {
  width: 100%;
  table-layout: fixed;
  margin: 0 1rem;
  // tbody {
  //   tr:nth-child(even) {
  //     background: hsla(0, 0%, 50%, 0.1);
  //   }
  //   tr:hover {
  //     background: hsla(0, 0%, 50%, 0.2);
  //   }
  // }

  td, th {
    padding: 1px 1px;
  }
  th {
    vertical-align: middle;
  }

  .component-name {
    padding-left: 1rem;
    width: 14rem;
  }
  .group-col {
    // width: 15%;
    // text-align: center;

    padding: 0.5rem 3rem;
  }
}

