<div class="watchers" *ngIf="app$ | async as app">
  <table>
    <thead>
      <tr>
        <!-- <th class="component-name"></th> -->
        <th class="group-col" *ngFor="let group of app.watcherGroups">{{group.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let name of app.componentNames; let i = index">
        <!-- <th class="component-name">{{name}}</th> -->
        <td *ngFor="let group of app.watcherGroups">
          <app-watcher
            [watcher]="group.watchers[i]"
            (open)="onOpen(group.watchers[i])"
          ></app-watcher>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="watcher-group-container">
      <div class="watcher-group">
          <h2>&nbsp;</h2>
          <div class="cell" *ngFor="let name of app.componentNames">
            <div class="component-name">{{name}}</div>
          </div>
      </div>
  </div>
  <div class="watcher-group-container" *ngFor="let watcherGroup of app.watcherGroups">
    <div class="watcher-group">
      <h2>{{watcherGroup.name}}</h2>
      <div class="cell" *ngFor="let watcher of watcherGroup.watchers">
        <a
          *ngIf="watcher"
          class="watcher"
          [class.status-init]="watcher.status === 'init'"
          [class.status-healthy]="watcher.status === 'healthy'"
          [class.status-down]="watcher.status === 'down'"
          [class.status-init]="!watcher.enable"
          (click)="onOpen(watcher)"
        >
          <div class="watcher-icon">
            <i class="far"
              [class.fa-question-circle]="watcher.status === 'init'"
              [class.fa-check-circle]="watcher.status === 'healthy'"
              [class.fa-times-circle]="watcher.status === 'down'"
              [class.fa-eye-slash]="!watcher.enable"
            ></i>
          </div>
          <div class="watcher-content">
            <h3>{{watcher.name}}</h3>
            <small>{{watcher.version}}</small>
          </div>
        </a>
      </div>
    </div>
  </div> -->
</div>

<div class="modal" [class.is-active]="modalActive">
  <div class="modal-background" (click)="onClose()" @modalBackgroundIn *ngIf="currentWatcher"></div>
  <div class="modal-card" @modalCardIn *ngIf="currentWatcher"
    (@modalCardIn.start)="onAnimationEvent($event)"
    (@modalCardIn.done)="onAnimationEvent($event)"
  >
    <header class="modal-card-head">
      <p class="modal-card-title">{{currentWatcher.name}} - {{currentWatcher.groupName}}</p>
      <button class="delete" (click)="onClose()"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <label>URL</label>
        <pre><a [href]="currentWatcher.url" target="_blank">{{currentWatcher.url}}</a></pre>
        <label>Body</label>
        <pre>{{currentWatcher.body | json}}</pre>

      </div>

    </section>
  </div>
  <!-- <button class="modal-close is-large" aria-label="close" (click)="onClose()"></button> -->
</div>
