@import "styles/variables.scss";
@import "~bulma/bulma.sass";

html, body {
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}


body.light-theme {
  color: hsla(229, 30%, 15%, 0.8);
  background: hsla(229, 8%, 80%, 1);
  table th {
    color: inherit;
  }
}
